.title_div {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons_div {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}